
<%- include ('templates/adminHeader.ejs') %>
<%- include('templates/adminNav.ejs') %>
    

        <main>

            <h2>EDITAR PELÍCULA</h2>
            <form id="formulario"  action="http://localhost:3000/api/v1/movies/<%= peliculas._id %>" method="post" enctype="multipart/form-data">

                <p>Editar una película</p>
                <h2><%= peliculas._id %></h2>
                <label for="titulo">Título:</label>
                
                <input type="text"  placeholder="<%= peliculas.titulo %>" name="titulo">
                <label for="image">Imagen:</label>
                <input type="file" placeholder="Imagen:" name="uploaded_file">
                <label for="genero">Género:</label>
                <input type="text" value="<%= peliculas.genero %>" name="genero">
                <label for="anio">Año:</label>
                <input type="text" value="<%= peliculas.anio %>" name="anio">
                <label for="director">Director:</label>
                <input type="text" value="<%= peliculas.director %>" name="director">
                <label for="duracion">Duración:</label>
                <input type="text" value="<%= peliculas.duracion %>" name="duracion">
                <button type="submit" id="editaPeli" class="btn" >Editar película</button>
            </form>
        </main>
 <%- include ('templates/adminFooter.ejs') %>