<%- include ('templates/header.ejs') %>
    <%- include('templates/adminNav.ejs') %>


        <main>
            <h2>Administrador de Películas</h2>

            <section>

                <a href="/admin/crear">Crear Película</a>
                <input type="text" placeholder="Buscar peli...">
                <button type="submit" class="btn">Buscar</button>

            </section>

            <div class="contenedorTabla">
                <table>
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Imagen</th>
                            <th>Género</th>
                            <th>Año</th>
                            <th>Director</th>
                            <th>Duración</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (peliculas.length>0) { %>
                            <% peliculas.forEach(element=> { %>
                                <tr>
                                    <td class="dataTabla">
                                        <%= element.titulo %>
                                    </td>
                                    <td class="dataTabla">
                                        <%= element.imagen %>
                                    </td>
                                    <td class="dataTabla">
                                        <%= element.genero %>
                                    </td>
                                    <td class="dataTabla">
                                        <%= element.anio %>
                                    </td>
                                    <td class="dataTabla">
                                        <%= element.director %>
                                    </td>
                                    <td class="dataTabla">
                                        <%= element.duracion %>
                                    </td>
                                    <td class="dataTabla" value=<%=element._id %>>
                                        <%= element._id %>
                                    </td>
                                    <td><a href="/admin/editar/<%= element.titulo %>" class="btnTabla">Editar</a></td>
                                    <td><button id="btnEliminar" class="btn tabla" data-id=<%=element._id %>>X</button>
                                    </td>

                                </tr>

                                <% }) %>

                                    <% } %>
                    </tbody>
                </table>
            </div>
        </main>
        <script src="/js/main.js"></script>
        <%- include ('templates/footer.ejs') %>