<%- include ('templates/adminHeader.ejs') %>
    <%- include('templates/adminNav.ejs') %>
        <main>
            <h2><%= titulo %></h2>

            <section>
                <input type="text" placeholder="Buscar peli...">
                <button type="submit" class="btn">Buscar</button>
                <button class="btn"><a href="/admin/crear">Crear Película</a></button>
            </section>

            <div class="contenedorTabla">
                <table>
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Imagen</th>
                            <th>Género</th>
                            <th>Año</th>
                            <th>Director</th>
                            <th>Duración</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (peliculas.length>0) { %>
                            <% peliculas.forEach(element=> { %>
                                <tr>
                                    <td class="dataTabla">
                                        <%= element.titulo %>
                                    </td>
                                    <td class="dataTabla">
                                        <%= element.imagen %>
                                    </td>
                                    <td class="dataTabla">
                                        <%= element.genero %>
                                    </td>
                                    <td class="dataTabla">
                                        <%= element.anio %>
                                    </td>
                                    <td class="dataTabla">
                                        <%= element.director %>
                                    </td>
                                    <td class="dataTabla">
                                        <%= element.duracion %>
                                    </td>
                                    <td><a href="/admin/editar/<%= element.titulo %>" class="btn">Editar</a></td>
                                    <td><a href="/admin/eliminar/?<%= element._id %>" class="btn">Eliminar</a></td>
                                </tr>

                                <% }) %>

                                    <% } %>
                    </tbody>
                </table>
            </div>
        </main>
<%- include ('templates/adminFooter.ejs') %>